h1 {
    margin-bottom: 3%;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 10rem;
    font-weight: 200;
}

menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu > menu {
    list-style: none;
    font-size: 7rem;
}

menu li {
    transition-duration: 0.5s;
}

menu li:hover {
    color: brown;
    cursor: pointer;
}
