#content > section.battle {
    justify-content: space-around;
    background-image: url(../../../dist/images/location1.png);
    background-size: cover;
}

div.canvas-container canvas {
    width: 1200px;
    height: 600px;
}

.battle-state {
    width: 100%;
}

.battle-state header, .battle-state .health {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
}

.battle-state header span:nth-child(1), .battle-state header span:nth-child(3) {
    width: 45%;
    text-align: center;
}

.battle-state header span:nth-child(2){
    width: 10%;
    text-align: center;
}

.battle-state header .name{
    font-weight: 600;
}

.battle-state canvas {
    width: 600px;
    height: 30px;
}

.health div {
    width: 48%;
    text-align: center;
}

#content > section.battle .span-shadow.attack {
    position: static;
    text-align:center;
}
#content > section.battle .span-shadow.attack span {
    transition: 0.1s linear;
    background: rgb(155, 5, 5);
}
.span-shadow.attack span:hover {
    box-shadow: 0 0 0 5px rgb(0, 0, 0), 0 0 0 10px rgb(155, 5, 5);
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(37, 43, 42, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    min-height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%; 
    left: 50%;
    opacity: 0;
    background-image: url(https://image.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
}

.head {
    position: relative;
    width: 90%;
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    text-align: center;
    background: rgb(155, 5, 5);
    border-radius: 10px 10px 0 0;
}

.head h3 {
    display: inline;
    margin: 0;
    font-size: 3rem;
}

.btn-close:hover {
    cursor: pointer;
}
.btn-close {
    position: absolute;
    font-size: 28px;
    right: 15px;
    color: #fff;
}

.modal .content {
    height: 400px;
}
