h2 {
  margin-bottom: 10px;
}
input {
  margin: 15px;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: 'IM Fell English SC', serif;
  font-size: 4rem;
  color: #000;
  transition: 0.3s linear;
  box-shadow: 0 0 5px 5px rgb(155, 5, 5);
  background:rgb(155, 5, 5);
}
input::placeholder{
  color: #fff;
}
input:focus {
  outline: 0;
  box-shadow: 0 0 13px 13px rgb(201, 8, 8);
  background:rgb(201, 8, 8);
}
.character {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 60%;
}
.character canvas {
  width: 600px;
  height: 460px;
  border-radius: 6%;
}
.character .items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 50%;
}
.character .items .js-character-item{
  width: 110px;
  height: 100px;
  transition-duration: 0.3s;
}
.character .items .js-character-item:hover {
  cursor: pointer;
  width: 130px;
  height: 118px;
  background: rgb(201, 8, 8);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgb(201, 8, 8);
}
.character .items .choosed-character {
  width: 130px;
  height: 118px;
  background: rgb(201, 8, 8);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgb(201, 8, 8);
}
.character .items .js-character-item img {
  width: 100%;
  height: 100%;
}
