h2 {
    font-size: 6rem;
}

.locations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.locations .img {
    position: relative;
    top: 0px;
    max-width: 370px;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 30px 6px black;
    transition-duration: 0.3s;
}

.locations .img:hover {
    cursor: pointer;
    box-shadow: 0 10px 30px 6px black;    
    top: -10px;
}

.locations .choosed {
    box-shadow: 0 10px 30px 6px black;    
    top: -10px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.span-shadow {
    position: absolute;
    right: 14.5%;
    bottom: 6%;
    margin-top: 3%;
    text-align:center;
}
.span-shadow span {
    display: inline-block;
    margin: 15px;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 4rem;
    transition: 0.3s linear;
    background:rgb(155, 5, 5);
}
.span-shadow span:hover { 
  box-shadow: 200px 0 0 0 rgb(201, 8, 8) inset;
}

.js-not-choosed {
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-4px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(5px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-7px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(7px, 0, 0);
    }
}
